@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

:root{
    --beige: #FAF0D7;
    --peach: #FFD9C0;
    --blue: #8CC0DE;
    --green: #CCEEBC;
}

body{
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size:32px;
    background: var(--beige);
    color: var(--blue)
}

.player-info {
    padding:0 12px;
    text-align:center;
}

.remarks{
    padding:30px;
    align-self: center;
}

.container{
    display:flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    height:95vh;
}

.gameboard{
    background: var(--blue);
    width:120 * 3;
    display:grid;
    gap:8px;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(3, 120px);
    grid-auto-flow:row;
    border-radius:8px;
    margin-bottom:32px;
    margin-top:16px;
}

.cell {
    background: var(--green);
    width:auto;
    height:auto;
    border-radius:8px;
    cursor:pointer;
    font-family:inherit;
    color:inherit;
    font-weight:1000;
    font-size:5rem;
    border: 0;
}

.cell svg{
    fill:var(--blue)
}

.footer{
    display:flex;
    align-items: center;
    justify-content: center;
    background: var(--peach);
    font-size:24px;
    font-weight:800;
    padding:8px;
}

#restart-button{
    font-family:inherit;
    font-size: 1.2rem;
    font-weight:900;
    background: var(--green);
    border-radius:5px;
    overflow:hidden;
    border: 1px solid var(--blue);
    padding: 8px 16px 8px 16px;
    cursor:pointer;
    color:var(--blue);
    margin-bottom:180px;
}

#restart-button:hover{
    background: var(--blue);
    color: var(--green);
    border: 1px solid var(--green);
}